// variables
// fonts
$primary-font: Quando;
$secondary-font:'Josefin Sans', sans-serif;

// colors
$gray:#787878;
$lightgray:#999999;
$black:#111111;
$softblue: #eaf2ff;
$white:#e9e9e9;
$white10:#f0f0f0;
$blue: #324360;
$lightblue: #35c4ce; 
$offwhite: #e9e9e9;


// mixin 
@mixin heading-font-size($size: default) {
    font-size: $size;
}

@mixin hover-color($color: HoverColor) {
    color: $lightblue;
}


// style code 
body {
    font-family: $primary-font;
    font-size: 15px;
    color: gray;
}

img {
    max-width: 100%;
    height: auto;
}
p {
    margin-bottom: 25px;
    line-height: 1.6em;
}
a {
    font-weight: 400;
    text-decoration: none;
    color: $black;
    transition: .20s;
}
a:hover {
    color: $lightgray;
}
h1,
h2,
h3,
h4,
h5,
// MIXING - here I'm not sure how to change only the font size for specifics headings
h6 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: $secondary-font;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    color: $black;;
    @include heading-font-size($size: default)
}
h1 {
    @include heading-font-size(37px);
}
h2 {
    @include heading-font-size(31px);
}
h3 {
    @include heading-font-size(26px);
}
h4 {
    @include heading-font-size(21px);
}
h5 {
    @include heading-font-size(18px);
}
h6 {
    @include heading-font-size(15px);
}


.container {
    width: 94%;
    margin: 0 auto;
}

/* header and main nav */
header {
    font-family: $secondary-font;
    // NESTING
    nav{
        ul{
            display: none;
        }
    }
}

.top-logo {
    width: 200px;
    margin: 20px auto 40px;
}

/* posts */
article {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.image-part {
    margin-bottom: 10px;
}

.post-title {
    margin-top: 0;
// NESTING POST STYLE MOBILE
    a {
        color: $blue;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 900;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1.3em;
        transition: all .3s ease;
    }


    a:hover {
    @include hover-color($lightblue)
    }
}

// NESTING FOOTER MOBILE
/* footer */
footer {
    padding: 30px 0;
    text-align: center;
    background: $softblue;
    color: $lightgray;

    a {
        color: $lightgray
    }

    a:hover {
        color: $black;
    }
}

.footer-logo {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
}
.footer-social-links {
    padding: 20px 0;
    line-height: 2em;

    a {
        margin: 0 10px;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    a span {
        display: none;
    }
}

#footer-copyright {
    padding: 20px 0;
    font-size: 12px;
    color: $lightblue;
}

@media only screen and (min-width: 650px) {
    .container {
        width: 90%;
    }

// HEADER NESTING
    header {
        nav {
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;   
            
            ul {
                display: flex;
            }

            li {
                margin: 0 15px;
                position: relative;
                line-height: 24px;
            }

            a {
                font-family: 'Josefin Sans', sans-serif;
                color: $blue;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 900;
            }

            a:hover {
                @include hover-color($lightblue);
            }

            li.menu-item-has-children > a::after {
                margin-left: 7px;
                font-family: 'FontAwesome';
                font-size: 13px;
                color: $blue;
                content: '\f078';
            }
        } 
    }

    .current-menu-item a {
        border-bottom: 2px solid $blue;
    }

    // SUB NAV NESTING
    /* sub nav */
    header {
        nav {
            ul{
                ul {
                    visibility: hidden;
                    opacity: 0;
                    display: block;
                    position: absolute;
                    z-index: 9999;
                    left: 0;
                    background: $white10;
                    transition: all 0.2s ease-out;

                    li {
                        border-top: 1px solid $offwhite;
                        margin: 0;
                    }

                    a {
                        display: block;
                        color: $black;
                        min-width: 175px;
                        margin: 0;
                        padding: 20px 10px;
                        line-height: 1.4em;
                        letter-spacing: 1px;
                        transition: .35s;
                    }

                    a:hover {
                        background: $white;
                        color: $black; 
                    }
                }

                li:hover ul {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    } 
    
    /* posts */
    article {
        display: flex;
    }

    // image part nesting
    .image-part {
        flex: 1;
        overflow: hidden;
        margin-bottom: 0;
        img {
            transition: transform 3.5s ease-in-out;
        }

        img:hover {
            transform: scale(1.5,1.5);
        }    
    }

    .content-part {
        flex: 1;
        padding-left: 50px;
    }


    // FOOTER NESTING
    /* footer */
    .footer-social-links{
        a {
            margin: 0 28px;
        }

        i {
            margin-right: 5px;
        }

        a span {
            display: inline;
            font-size: 11px;
        }
    }
}
